<h2>Feedback Details</h2>

<table>
    <thead>
        <tr>
            <th>S.No</th>
            <th>User Name</th>
            <th>Feedback</th>
            <th>Posted Date</th>
        </tr>
    </thead>
    <tbody>
         <tr *ngFor="let item of feedbacks ">
            <td>{{item?.feedbackId}}</td>
            <td>{{item?.userId}}</td>
            <td>{{item?.feedbackText}}</td>
            <td>{{item?.date}}</td>
            <td>
                <button type="submit" (click)="ShowProfile()">Show Profile</button>
            </td>
        </tr>
    </tbody>
</table>