<h2>Booking Request Form</h2>


    <div >
        <button type="button" onclick="userviewmybooking()">Back</button>
        <form>
            <label>Check-In Date*</label><br>
            <input type="date" required><br>

            <label>Check-Out Date*</label><br>
            <input type="date" required><br>

            <label>Special Requests*</label><br>
            <textarea required></textarea><br>

            <label>Booking Purpose*</label><br>
            <input required><br>

            <label>Additional Comments*</label><br>
            <textarea required></textarea><br>

            <button type="submit">Submit</button>
            
        </form>
    </div>